
/*-----強調SEO-----*/
h2{
    font-size: 0;
}
/*---------------*/

.header {
    background-color: white;
}

#headerSection {
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.headerContent {
    width: 100%;
    display: flex;
    align-items: center;
}
.headerContent .logo {
    width: 35%;
    justify-content: center;
    display: flex;
}
.headerContent .logo img {
    width: 250px;
}
.headerContent .navBar {
    width: 80%;
}
.headerContent .navBar .mainMenu {
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 25px;
}
.navBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navBar .mainMenu>li {
    position: relative; 
}
.navBar a {
    display: block;
    padding: 31px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
}
.navBar a:hover {
color: rgb(153, 77, 22);
}
.navBar li ul {
background: rgb(153, 77, 22);
}
.navBar li ul li {
text-align: center;
}
.navBar li ul a:hover {
    background: rgba(0, 0, 0, 0.19999999999999996);
    color: white;
    font-weight: 100;
}
.subMenu>li {
width: 150px;
}
.subMenu>li a{
    color: white;
}
.navBar ul>li:hover ul {
    max-height: 1000px;
    -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}
.navBar li ul {
    position: absolute;
    left: -25px;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}
.icon{
 display: none;   
}

  /*-----------RWD設定---------*/
  @media (max-width: 768px) {
    .headerContent{
      justify-content: center;
      padding: 0 15px 0 0;
    }
    .header{
        position: relative;
    }
    .headerContent .logo img {
        width: 400px;
    }
    .headerContent .navBar  {
      display: none;
      position: absolute;
      top:0;
      width: 100%;
      height: 100vh;
      background: #F0E6DC;
      text-align: center;
      z-index: 98;
    }
    .navBar.nav_active{
        display: block;
        padding: 89px 0 0 0 ;
    }

    .headerContent .navBar .mainMenu{
        display: block;
        padding: 0;
    }

    .navBar .mainA{
        padding: 18px 0px;
        display: inline-block;
        font-weight: 800;
    }
    .select:hover{
    font-weight: 800;
    border-bottom: 3px solid #804628;   
    }
    .select{
    padding: 15px 0px;
    font-size: 20px;
    }
    .subMenu>li{
    display: none;
    }
    /*-----icon圖片轉換-----*/
    .icon{
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;

    }
    .icon .icon_change{
    width: 10%;
    display: flex;
    position: relative;
    margin: 100px 19px 0 19px;
    }
    .icon_pic{
    width: 80%;
    position: absolute;
    }
    .icon_change img:last-child:hover{
    opacity:0;
    }

    #icon_a{
        padding: 0;
    }
    /*------------------*/
    .burgar_btn {
        display: block;
        position: absolute;
        right: 10px;
        z-index: 99;
    }
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}
   /*-----------RWD設定---------*/

  
 


/* ----------------------------------------------- */
/* .container {
    width: 100%;
    height: 100vh;
    background-color: brown;
} */

/* ----------------------------------------------- */

.reservation {
    padding: 0 2px;
    position: absolute;
    background-color: orange;
    position: fixed;
    right: 50px;
    bottom: 200px;
    width: 60px;
    height: 250px;
    border-radius: 30px;
    z-index: 99 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation>span {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 25px;
}

.gototop {
    position: absolute;
    position: fixed;
    right: 50px;
    bottom: 100px;
    width: 60px;
    height: 60px;
    background-image: url('../img/gototop.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 99 !important;
}

.reservation:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.gototop:hover {
    transform: scale(1.25);
    transition: 0.5s;
}


@media (max-width:768px) {
    .reservation {
        width: 45px;
        height: 180px;
        bottom: 100px;
        right: 25px;
        font-size: 15px;
    }
    
    .reservation>span {
        text-align: center;
        color: white;
        font-weight: 900;
        font-size: 20px;
    }

    .gototop {
        position: absolute;
        position: fixed;
        right: 25px;
        bottom: 40px;
        width: 45px;
        height: 45px;
        background-image: url('../img/gototop.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        z-index: 99 !important;
    }

}
